{{define "home"}}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">   
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <title>Todo List</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <div id="app">
        <h1>Todo List</h1>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Created Date</th>
                    <th>Deadline Date</th>
                    <th>Status</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody hx-get="/todos" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
            </tbody>
        </table>
        <button hx-post="/todos" hx-trigger="click" hx-target="previous tr" hx-swap="outerHTML" class="btn-edit">
            Add Todo
        </button>
    </div>
</body>
</html>
{{end}}