{{define "todoEdit"}}
<tr id="{{.ID}}">
    <td>
        <input type="hidden" name="id" value="{{.ID}}" id="rowID">
        <input type="text" name="description" value="{{.Description}}" id="description">
    </td>
    <td>
        <input type="date" name="created_date" value="{{.CreatedDate}}" id="createdDate">
    </td>
    <td>
        <input type="date" name="deadline_date" value="{{.DeadlineDate}}" id="deadlineDate">
    </td>
    <td>
        <select id="status" name="status">
            <option value="Waiting" {{if eq .Status "Waiting"}}selected{{end}}>Waiting</option>
            <option value="Now" {{if eq .Status "Now"}}selected{{end}}>Now</option>
            <option value="In Progress" {{if eq .Status "In Progress"}}selected{{end}}>In Progress</option>
            <option value="Done" {{if eq .Status "Done"}}selected{{end}}>Done</option>
        </select>
    </td>
    <td>
        <button
            hx-put="/todos/{{.ID}}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-include="closest tr"
            class="btn-edit"
        >
            Submit
        </button>
    </td>
    <td>
        <button
            hx-get="/todos/{{.ID}}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            class="btn-cancel"
        >
            Cancel
        </button>
    </td>
</tr>
{{end}}