{{define "todoRow"}}
<tr id="{{.ID}}">
	<td>{{.Description}}</td>
	<td>{{.CreatedDate}}</td>
	<td>{{.DeadlineDate}}</td>
	<td>{{.Status}}</td>
	<td>
		<button
			hx-trigger="click"
			hx-get="/todos/edit/{{.ID}}"
			hx-target="closest tr"
			hx-swap="outerHTML"
			class="btn-edit"
		>
			Edit
		</button>
	</td>
	<td>
		<button
			hx-confirm="Are you sure?"
			hx-delete="/todos/{{.ID}}"
			hx-trigger="click"
			hx-target="closest tr"
			hx-swap="outerHTML"
			class="btn-delete"
		>
			Delete
		</button>
	</td>
</tr>
{{end}}
